<h2 style="text-align: center;">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :name, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: "Name" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "E-mail" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :contact, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.text_field :contact, class: 'form-control', placeholder: "Contact" %>
    </div>
  </div>

  <% if resource.account_type == "teacher" %>
    <div class="form-group">
      <%= f.label :expertise, class: 'control-label col-sm-2' %>
      <div class="col-sm-10">
        <%= f.text_field :expertise, class: 'form-control', placeholder: "Expertise" %>
      </div>
    </div>
  <% end %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Password (Leave blank if you don't want to change it)" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Password Confirmation", class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "Confirm Password" %>      
    </div>
  </div>

  <div class="form-group">
    <%= f.label :current_password, "Current Password", class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: "Current Password" %>    
    </div>
  </div>

  <div class="form-group">
    <%= f.label :picture, "Profile Picture", class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <span class="picture">
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: 'btn btn-default' %>
      </span>
    </div>
  </div>

  <div class="actions">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Update", class: 'btn btn-default' %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
