<div class="row">
  <div class="offset-sm-1 col-sm-10 offset-sm-1">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-row">
        <div class="form-group col-sm-4">
          <div class="input-group mb-2 mb-sm-0">
            <div class="input-group-addon">Name</div>
            <%= f.text_field :name, class: 'form-control', placeholder: "Name" %>          
          </div>
        </div>

        <div class="form-group col-sm-4">
          <div class="input-group mb-2 mb-sm-0">
            <div class="input-group-addon">Email</div>
            <%= f.email_field :email, readonly: true, class: 'form-control', placeholder: "E-mail" %>
          </div>
        </div>

        <div class="form-group col-sm-4">
          <div class="input-group mb-2 mb-sm-0">
            <div class="input-group-addon">D.O.B</div>
            <%= f.date_field :dob, readonly: true, class: 'form-control', id: 'teacher-dob', placeholder: "D.O.B" %>
          </div>
        </div>
      </div>

      <% if resource.account_type == "teacher" %>
        <div class="form-row">
          <div class="form-group col-sm-6">
            <div class="input-group mb-2 mb-sm-0">
              <div class="input-group-addon">Contact</div>
              <%= f.text_field :contact, class: 'form-control', id: 'teacher-contact', placeholder: "Contact" %>
            </div>
          </div>

          <div class="form-group col-sm-6">
            <div class="input-group mb-2 mb-sm-0">
              <div class="input-group-addon">Expertise</div>
              <%= f.text_field :expertise, class: 'form-control', id: 'teacher-expertise', placeholder: "Expertise" %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="form-group">
          <div class="input-group mb-2 mb-sm-0">
              <div class="input-group-addon">Expertise</div>
              <%= f.text_field :contact, class: 'form-control', id: 'teacher-contact', placeholder: "Contact" %>
            </div>
        </div>
      <% end %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-row">
        <div class="form-group col-sm-6">
          <div class="input-group mb-2 mb-sm-0">
            <div class="input-group-addon">New Password</div>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "New Password (Optional)" %>
          </div>
          <% if @minimum_password_length %>
            <small id="passwordHelpBlock" class="form-text text-muted">
              <%= @minimum_password_length %> characters minimum
            </small>
          <% end %>
        </div>

        <div class="form-group col-sm-6">
          <div class="input-group mb-2 mb-sm-0">
            <div class="input-group-addon">New Password Confirmation</div>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "Confirm New Password" %>      
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-6">
          <div class="input-group mb-2 mb-sm-0">
            <div class="input-group-addon">Current Password</div>
            <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: "Current Password" %>    
          </div>
        </div>

        <div class="form-group">
          <div class="input-group mb-2 mb-sm-0">
            <div class="input-group-addon">Profile Picture</div>
            <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="form-group actions">
        <%= f.submit "Update", class: 'btn btn-primary btn-block' %>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
