<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'Coursify'.html_safe, root_url, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      	<%= link_to 'Home'.html_safe, root_url(subdomain: ''), class: 'nav-link' %>
      </li>
      <li class="nav-item">
      	<%= link_to 'About'.html_safe, about_url(subdomain: ''), class: 'nav-link' %>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to 'Profile'.html_safe, profile_url(subdomain: 'dashboard'), class: 'dropdown-item' %>
            <%= link_to 'Settings'.html_safe, users_edit_url(subdomain: 'dashboard'), class: 'dropdown-item' %>
            <%= link_to 'Sign out'.html_safe, destroy_user_session_url, method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Get Started'.html_safe, get_started_url(subdomain: ''), class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Teacher Signup'.html_safe, get_started_teacher_url(subdomain: ''), class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
